<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if pending_users %}
        <p1>Your registration is pending</p1>
        <ul>
            {% for user in pending_users %}
                <li>{{ user.username }}</li>
                <li>{{ user.email }}</li>
                <li>{{user.wholesale_license_number}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p1>No pending User</p1>
    {% endif %}
</body>
</html>